QUESTION 1

A database is an organized collection of data, so that it can be easily accessed and managed.

SQL databases are primarily called Relational Databases (RDBMS); whereas NoSQL databases are primarily called non-relational or distributed databases.

SQL databases are table-based on the other hand NoSQL databases are either key-value pairs, document-based, graph databases, or wide-column stores.

QUESTION 2

Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System).


CREATE TABLE test_table(c1 INT , c2 VARCHAR(50) , c3 FLOAT) ;

ALTER TABLE test_table ADD(c4 INT); 

TRUNCATE TABLE test_table;

DROP TABLE test_table

QUESTION 3

DML STANDS FOR DATA MANIPULATION LANGUAGE.

The INSERT statement introduces new rows into an existing table.

The DELETE statement removes a row or combination of rows from a table.

The UPDATE statement enables users to update a row or group of rows in a table.

QUETION 4

DQL (Data Query Language) Command in SQL
DQL or data query language is to perform the query on the data inside the schema or object (ie table, index, view, function, etc). With the help of a DQL query, we can get the data from the database to perform actions or operations like analyzing the data

SELECT * FROM TABLENAME

QUESTION 5

A primary key generally focuses on the uniqueness of the table. It assures the value in the specific column is unique. A foreign key is generally used to build a relationship between the two tables. The table allows only one primary key.

QUESTION 6

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute('OPERATION')

QUESTION 7


Order	 Clause	         Function

1         FROM	        Tables are joined to get the base data.

2	      WHERE	        The base data is filtered.

3	    GROUP BY        The filtered base data is grouped.

4	     HAVING	        The grouped base data is filtered.